@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    
   
    --background: 0 0% 100%;
    --backgroundAuthor: 320, 10%, 63%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 266 64% 65%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    --arriba:  linear-gradient(
      315deg,
      hsl(263deg 45% 56%) 0%,
      hsl(264deg 49% 58%) 7%,
      hsl(264deg 53% 60%) 15%,
      hsl(265deg 57% 62%) 24%,
      hsl(266deg 62% 64%) 34%,
      hsl(267deg 67% 66%) 45%,
      hsl(266deg 66% 62%) 56%,
      hsl(266deg 66% 59%) 68%,
      hsl(265deg 66% 55%) 79%,
      hsl(265deg 65% 51%) 90%,
      hsl(265deg 76% 46%) 100%
    );
    --3dButton :hsl(281, 91%, 46%);
    --gradiant-shadow: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(284, 100%, 32%) 8%,
      hsl(284, 100%, 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }


  .dark {
    --background: 224 71% 4%;
    --backgroundAuthor: 320, 10%, 63%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 224 70% 52%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
    --arriba:linear-gradient(
      30deg,
      hsl(230deg 66% 23%) 0%,
      hsl(227deg 81% 27%) 20%,
      hsl(224deg 98% 30%) 40%,
      hsl(225deg 100% 36%) 60%,
      hsl(227deg 100% 41%) 80%,
      hsl(230deg 94% 48%) 100%
    );
    --3dButton: 	hsl(230, 94%, 48%);
    --gradiant-shadow: linear-gradient(
      to left,
      hsl(238, 100%, 16%) 0%,
      hsl(230, 66%, 23%)8%,
      hsl(230, 66%, 23%) 92%,
      hsl(238, 100%, 16%) 100%
    );
  }


}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-light: 400;
  --font-family: 'Wotfard','Wotfard-fallback',sans-serif;
  --font-family-mono: 'League Mono','Fira Mono',monospace;
  --font-family-spicy: 'Sriracha','Wotfard',Futura,-apple-system,sans-serif;
  --reach-dialog: 1;
  --color-background: hsl(0deg, 0%, 100%);
  --color-homepage-light: hsl(204deg, 67%, 85%);
  --color-homepage-dark: hsl(202deg, 71%, 90%);
  --color-homepage-bg: hsl(204deg, 67%, 85%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  
}

html:before,
body:before {
  content: '';
  width: 100%;
  height: 100vh;
  
  font-family: var(--font-family);
    font-weight: var(--font-weight-light);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post .arrow-btn {
  transition: width 300ms ease;
  width: 50px;
}

.adjacent-post:hover .arrow-btn {
  width: 60px;
}

.react-multi-carousel-list .arrow-btn {
  transition: width 300ms ease;
  width: 50px;
}

.react-multi-carousel-list .arrow-btn:hover {
  width: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tops{
  position: relative;
  z-index: 3;

  background-image: var(--arriba);
  transition: --color-homepage-light 350ms linear 0s, --color-homepage-dark 350ms linear 0s;
}

@media (min-width: 769px){

.tops {
    height: 250px;
}
}
.epuvUc {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 90px;
  transform: translateY(1px);
  z-index: 3;
}
.exNWwu {
  position: absolute;
  left: -3%;
  right: -3%;
  bottom: 0px;
  width: 106%;
  min-width: 600px;
  max-width: unset;
  z-index: 3;
}
.exNWwu path {
 
  fill: hsl(var(--background));
  transition: fill 350ms ease 0s;
  z-index: 3;
}
.headers{
  position: sticky;
  top: 0px;
  z-index: 2;
}

/* clases boton */
.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: var(--gradiant-shadow);
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: var(--3dButton);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}
.bodier{
  transition: all 350ms ease 0s;
}