@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    
   
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-light: 400;
  --font-family: 'Wotfard','Wotfard-fallback',sans-serif;
  --font-family-mono: 'League Mono','Fira Mono',monospace;
  --font-family-spicy: 'Sriracha','Wotfard',Futura,-apple-system,sans-serif;
  --reach-dialog: 1;
  --color-background: hsl(0deg, 0%, 100%);
  --color-homepage-light: hsl(204deg, 67%, 85%);
  --color-homepage-dark: hsl(202deg, 71%, 90%);
  --color-homepage-bg: hsl(204deg, 67%, 85%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html:before,
body:before {
  content: '';
  width: 100%;
  height: 100vh;
  font-family: var(--font-family);
    font-weight: var(--font-weight-light);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post .arrow-btn {
  transition: width 300ms ease;
  width: 50px;
}

.adjacent-post:hover .arrow-btn {
  width: 60px;
}

.react-multi-carousel-list .arrow-btn {
  transition: width 300ms ease;
  width: 50px;
}

.react-multi-carousel-list .arrow-btn:hover {
  width: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tops{
  position: relative;
  z-index: 3;

  background-image: linear-gradient(
  315deg,
  hsl(263deg 45% 56%) 0%,
  hsl(264deg 49% 58%) 7%,
  hsl(264deg 53% 60%) 15%,
  hsl(265deg 57% 62%) 24%,
  hsl(266deg 62% 64%) 34%,
  hsl(267deg 67% 66%) 45%,
  hsl(266deg 66% 62%) 56%,
  hsl(266deg 66% 59%) 68%,
  hsl(265deg 66% 55%) 79%,
  hsl(265deg 65% 51%) 90%,
  hsl(265deg 76% 46%) 100%
);
  transition: --color-homepage-light 350ms linear 0s, --color-homepage-dark 350ms linear 0s;
}

@media (min-width: 769px){

.tops {
    height: 250px;
}
}
.epuvUc {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 90px;
  transform: translateY(1px);
  z-index: 3;
}
.exNWwu {
  position: absolute;
  left: -3%;
  right: -3%;
  bottom: 0px;
  width: 106%;
  min-width: 600px;
  max-width: unset;
  z-index: 3;
}
.exNWwu path {
  fill: var(--color-background);
  transition: fill 350ms ease 0s;
  z-index: 3;
}
.headers{
  position: sticky;
  top: 0px;
  z-index: 2;
}